/* global prop */

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
  }

  body {
    height: 100vh;
    background:#091921;
  }

  
  body,
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1{
    color: #d1dae3;
  }   
  
  .container {
    width: 450px;
    padding: 30px;
    border-radius: 10px;
    flex-direction: column;
  }
  
  .container img {
    width: 50%;
  }
  
  .on {
    animation: moveClock 0.1s infinite alternate;
  }
  
  @keyframes moveClock {
    from {
      transform: rotate(10deg);
    }
  
    to {
      transform: rotate(-10deg);
    }
  }
  
  .container h1 {
    font-size: 40px;
    margin: 30px 0;
  }
  
  .container .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .content .controls {
    border: 1px solid #fff;
    background-color: white;
    width: calc(100% / 2 - 5px);
    border-radius: 5px;
    padding: 2px;
  }
  
  .content .controls select {
    outline: 0;
    border: 0;
    background: #091921;
    color: #d1dae3;
    width: 100%;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    padding: 5px;
  }
  
  .container button {
    width: 100%;
    outline: 0;
    border: 0;
    background: #d1dae3;
    color: #091921;
    padding: 15px 0;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
  }
  
  .container button:hover {
    background: #091921;
    color: #d1dae3;
    border: 1px solid #d1dae3;
    transition: background-color linear 0.3s;
  }
  
  .container .content.disable {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }
  